# Managed by Ansible
FLANNELD_IFACE={{ ansible_eth0.ipv4.address }}
FLANNELD_ETCD_ENDPOINTS={% for node in groups['etcd'] %}http://{{ hostvars[node].ansible_eth0.ipv4.address }}:4001{% if not loop.last %},{% endif %}{% endfor %}
